body.home{
	overflow-x: hidden;
	width: 100vw;
	height: 100vh;
}

body::after {
    content : "";
	clip-path: polygon(0 0, 100% 0 , 100% 100% , 0 100%);
        background-color: white;
	position: fixed;
	width : 100%;
	height : 100%;
	top : 0;
	bottom :0;
	left :0;
	right : 0;
	z-index: -1;
	@include tablet{
		clip-path: polygon(0 0, 95% 0 , 85% 100% , 0 100%);
        background-color: white;
	}
}


.site-title{
    font-size: 1.5rem;
	font-weight: bold;
}

.site-main{
	width: 100vw;
}

.site-description{
	font-size: 1.2rem;
}

.accueil{
	ul{
		list-style: none;
		font-size: 1.4rem;
	}
	img{
		display: block;
		border-radius: 50%;
	}
}

.site-info{
	width: 100vw;
	background-color: black;
	color: white;
	position: fixed;
	bottom: 0rem;
	left: 0rem;
}

.entry-footer{
	display: none;
}

.home .cours{
	display: flex;
	flex-direction: column;

	article{
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		border: 1px solid green;
		p{
			margin: .3rem;
			font-size: 1rem;
		}
		a{
			font-size: 2rem;
			font-weight: bold;
			text-decoration: none;
		}
	}
}